<a href="https://colab.research.google.com/github/Dorime227/CSE220-Spring-2023/blob/main/Assignment_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1**

a)  Implement a recursive algorithm to find factorial of n.

In [1]:
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    return n*factorial (n-1)

factorial(5)

120

b) Implement a recursive algorithm to find the n-th Fibonacci number.

In [2]:
def fibonacci(n):
  if n<0:
    return 'Invalid'
  elif n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)

fibonacci(7)

13

c) Print all the elements of a given array recursively.

In [3]:
def arrayprint(arr):
  i=0
  if i<len(arr):
    print(arr[i])
    arrayprint(arr[i+1:])
a=[1,2,3,4,5,6,7,10]
arrayprint(a)

1
2
3
4
5
6
7
10

d) Given base and n that are both 1 or more, compute recursively (no loops) the value of base  to the n power, so powerN(3, 2) is 9 (3 squared)

In [4]:
def power(b,n):
  if n==0:
    return 1
  else:
    return b*power(b,n-1)

power(3,2)

9

# **2**

a) Implement a recursive algorithm that takes a decimal number n and converts n to its corresponding (you may return as a string) binary number.

In [5]:
def binary(n):
  if n!=0:
    return binary(n//2)+str(n%2)
  else:
    return ''

print(binary(15))

1111

b) Implement a recursive algorithm to add all the elements of a non-dummy headed singly linked linear list. Only the head of the list will be given as a parameter where you may assume every node can contain only integers as its element.

In [6]:
class Node:
  def __init__(self,elem,next):
    self.elem=elem
    self.next=next

def LinkList(arr):
  head= Node(arr[0],None)
  temp=head
  for i in range(1,len(arr)):
    new_node= Node(arr[i],None)
    temp.next=new_node
    temp=new_node
  return head

def sum_add(head):
  temp=head
  sum=0
  if temp!=None:
    if temp.next!=None:
      sum+=temp.elem
      return sum+sum_add(temp.next)
    else:
      return temp.elem

a=[1,2,3,4,5,6]
head=LinkList(a)
print(sum_add(head))

21

c) Implement a recursive algorithm which will print all the elements of a non-dummy headed singly linked linear list in reversed order.
Example: if the linked list contains 10, 20, 30 and 40, the method will print
40
30
20
10
Note: youâ€™ll need a Singly Node class for this code.

In [7]:
def printreverse(head):
  temp=head
  if temp.next==None:
    print(temp.elem)
  else:
    printreverse(temp.next)
    print(temp.elem)
a=[10,20,30,40]
head=LinkList(a)
printreverse(head)

40
30
20
10

# **3**

In [8]:
def hocBuilder(height):
  if height>0:
    if height==1:
      return 8
    else:
      return hocBuilder(height-1)+5
  else:
    return 0

print(hocBuilder(10))

53

# **4**

a)

In [9]:
def printing(n):
  if n>0:
    printing(n-1)
    print(n,end='')


def pattern(n):
  if n>0:
    pattern(n-1)
  printing(n)
  if n!=0:
    print()

pattern(5)

1
12
123
1234
12345

b)

In [10]:
def space_printing(n):
  if n>0:
    print(' ',end='')
    space_printing(n-1)

def printing(n):
  if n>0:
    printing(n-1)
    print(n,end='')

def pattern_printing_with_space(n,j):
  if n>0:
    space_printing(n-1)
    printing((j+1)-n)
    print()
    pattern_printing_with_space(n-1,j)

pattern_printing_with_space(10,10)

         1
        12
       123
      1234
     12345
    123456
   1234567
  12345678
 123456789
12345678910

# **5**

In [11]:
class FinalQ:
  def print(self,array,idx):
     if (idx<len(array)):
       profit = self.calcProfit(array[idx])
       print(f'Total Invested: {array[idx]}\nProfit: {profit}')
       self.print(array,idx+1)

  def calcProfit(self,investment):
    if 0<=investment<=25000:
      return 0.0
    elif 25000 <investment <= 100000:
      return 45 + self.calcProfit(investment-1000)
    elif investment> 100000:
      return 80 + self.calcProfit(investment - 1000)

array=[25000, 100000,250000,350000]
f = FinalQ()
f.print(array,0)

Total Invested: 25000
Profit: 0.0
Total Invested: 100000
Profit: 3375.0
Total Invested: 250000
Profit: 15375.0
Total Invested: 350000
Profit: 23375.0

MUST FINISH Recusion Task Lab

In [12]:
def flattenList(given_list, output_list):
  if type(given_list[0])==int:
    output_list.append(given_list[0])
    if len(given_list)>1:
      return output_list+flattenList(given_list[1:],[])
    else:
      return output_list
  else:
     output_list+=flattenList(given_list[0],[])
     if len(given_list)>1:
       return output_list+flattenList(given_list[1:],[])
     else:
       return output_list
given_list = [1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]
output_list = flattenList(given_list, [])
print(output_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]